.phone-names {

    width: 100px;
    border-right: 1px solid rgb(187, 187, 187);
    font-size: 12px;
    color: rgb(51, 51, 51);
    padding: 20px;
    float: left;

}

.sort {
    font-size: 16px;
    margin-left: 10px;
    padding-bottom: 8px;
    color: rgb(51, 51, 51);
    display: inline-block;
    align-items: flex-start;
    line-height: 1.5;
    transition: text-decoration 0.3s ease;
}

.sort:hover {
    color: rgb(2, 152, 2);
    text-decoration: underline;
    cursor: pointer;
}